.right{
    float:right;
    padding-right: 25px;
}
.left{
    float:left;
    padding-left: 25px;
    text-align:left;
}
.title{
    font-size: 12px;
    font-weight: bold;
    text-align:left;
}
.dynamic{
    font-size: 18px;
}
.static{
	font-size: 8px;
}