<div class="container">
  <div class="col-md-6 col-xl-5" >
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
				<h5>${properties.title}</h5><!--TODO make this authorable -->
				</div>

                <div class="card-header-right">
					<a href="${properties.redirectionPath}.html" >${properties.linkText}</a>
				</div>
			</div>

			<div class="card-block" >
				<div class="table-responsive">
					<table class="table">
						<tbody>
						<tr>
								<td>
									<a><img class="resize" src="${properties.image}"></a>
								</td>
								<td>
									<p class="text-muted desc">${properties.description}</p>
								</td>

						</tr>		
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>